<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v12.2.Web, Version=12.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v12.2.Core, Version=12.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false"/>
    </httpHandlers>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="WebClientForEver" location="ServerAndClient" duration="0" varyByParam="none"/>
          <add name="WebClientNever" location="ServerAndClient" duration="0" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!--Memcached服务器地址，多个用逗号分隔-->
    <add key="MemcachedServerList" value="192.168.1.10:11211"/>
    <add key="Server" value="localhost"/>
    <add key="Serverport" value="9000"/>
    <add key="RunMode" value="iis"/>
    <add key="ADFilePath" value="D:\Project\oldProject\物联网表项目\Code\CY.IotM.WebClient\UserUpload\"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v12.2, Version=12.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="myBinding" maxReceivedMessageSize="1073741824">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_CompanyInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.CompanyInfo, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_CompanyInfo" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CompanyManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICompanyManage" name="CompanyManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_CompanyOperator" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.CompanyOperator, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_CompanyOperator" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CompanyOperatorService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICompanyOperatorManage" name="CompanyOperatorService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/WebloginerManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ILoginerManage" name="WebloginerManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/OperRightManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.IOperRightManage" name="OperRightManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_SystemLog" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.SystemLog, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_SystemLog" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/SystemLogManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ISystemLogManage" name="SystemLogManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_MenuInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.MenuInfo, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_MenuInfo" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/MenuManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.IMenuManage" name="MenuManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_ReportTemplate" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.ReportTemplate, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_ReportTemplate" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_CompanyReport" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IotM.Common.CompanyReport, CY.IotM.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_CompanyReport" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_Community" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_Community, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_Community" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommunityManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ICommunityManage" name="CommunityManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_Street" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_Street, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_Street" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/StreetManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IStreetManage" name="StreetManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_PricePar" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_PricePar, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_PricePar" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/PriceParManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IPriceParManage" name="PriceParManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_SystemPar" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_SystemPar, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_SystemPar" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/SystemParManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ISystemParManage" name="SystemParManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_User" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_User, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_User" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/UserManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IUserManage" name="UserManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_Meter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_Meter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_Meter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/MeterManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IMeterManage" name="MeterManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_UserMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_UserMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_UserMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_ValveControl" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_ValveControl, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_ValveControl" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ValveControlService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IValveControl" name="ValveControlService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/DianHuoService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IDianHuo" name="DianHuoService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_SetAlarm" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_SetAlarm, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_SetAlarm" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/SetAlarmService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ISetAlarm" name="SetAlarmService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_Pricing" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_Pricing, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_Pricing" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/PricingManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IPricingManage" name="PricingManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_PricingMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_PricingMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_PricingMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_UserMeterHistory" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_UserMeterHistory, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_UserMeterHistory" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_AlarmMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_AlarmMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_AlarmMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_AlarmInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_AlarmInfo, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_AlarmInfo" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_Community" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_Community, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_Community" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_UserTemp" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_UserTemp, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_UserTemp" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/SetUploadCycleService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ISetUploadCycle" name="SetUploadCycleService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_SetUploadCycle" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_SetUploadCycle, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_SetUploadCycle" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_UploadCycleMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_UploadCycleMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_UploadCycleMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_UpLoadDate" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_UpLoadDate, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_UpLoadDate" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_UpLoadDateView" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_UpLoadDateView, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_UpLoadDateView" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_ChongZhi" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_ChongZhi, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_ChongZhi" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ChongzhiManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IChongzhiManage" name="ChongzhiManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ChaoBiaoService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IChaoBiao" name="ChaoBiaoService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/TopUpService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IMeterTopUp" name="TopUpService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_SettlementDayMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_SettlementDayMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_SettlementDayMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_SettlementDayMeterView" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_SettlementDayMeterView, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_SettlementDayMeterView" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/SettlementService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ISettlement" name="SettlementService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_HuanBiao" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_HuanBiao, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_HuanBiao" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/HuanBiaoService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IHuanBiao" name="HuanBiaoService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_HistoryUserMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_HistoryUserMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_HistoryUserMeter" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/GetMonitorInfoService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IGetMonitorInfo" name="GetMonitorInfoService" kind="" endpointConfiguration=""/>

      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_AdInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_AdInfo, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_AdInfo" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/AdInfoService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IAdInfoManage" name="AdInfoService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_SetAdInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.IoT_SetAdInfo, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_SetAdInfo" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_AdInfoMeter" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_AdInfoMeter, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_AdInfoMeter" kind="" endpointConfiguration=""/>
      
      
      <endpoint address="net.tcp://localhost:9000/MeterGasBillService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IMeterGasBill" name="MeterGasBillService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_View_MeterGasBill" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.View_MeterGasBill, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_View_MeterGasBill" kind="" endpointConfiguration=""/>
      
      <endpoint address="net.tcp://localhost:9000/ADContextDAL" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADContextDAL" name="ADContextDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_ADContext" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.ADContext, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_ADContext" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ADItemDAL" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADItemDAL" name="ADItemDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_ADItem" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.ADItem, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_ADItem" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ADFileService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADFileService" name="ADFileService" kind="" endpointConfiguration=""/>
      
      <endpoint address="net.tcp://localhost:9000/ADUserDAL" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADUserDAL" name="ADUserDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_ADUser" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.ADUser, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_ADUser" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_View_AdUser" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.View_AdUser, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_View_AdUser" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_View_UserInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.View_UserInfo, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_View_UserInfo" kind="" endpointConfiguration=""/>

      <endpoint address="net.tcp://localhost:9000/ADPublishDAL" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADPublishDAL" name="ADPublishDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_ADPublish" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.ADPublish, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_ADPublish" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_View_AdPublish" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.View_AdPublish, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_View_AdPublish" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/ADPublishUserDAL" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.ADSystem.IADPublishUserDAL" name="ADPublishUserDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_ADPublishUser" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.ADPublishUser, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_ADPublishUserDAL" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_IoT_View_AdPublishUserInfo" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.ADSystem.View_AdPublishUserInfo, CY.IoTM.Common.ADSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_IoT_View_AdPublishUserInfo" kind="" endpointConfiguration=""/>

      <endpoint address="net.tcp://localhost:9000/CommonSearchOf_Iot_MeterAlarmPara" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IotM.Common.ICommonSearch`1[[CY.IoTM.Common.Business.Iot_MeterAlarmPara, CY.IoTM.Common.BusinessSystem, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]" name="CommonSearchOf_Iot_MeterAlarmPara" kind="" endpointConfiguration=""/>

    </client>
  </system.serviceModel>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <runtime>
    <!-- enables legacy CAS policy for this process -->
    <NetFx40_LegacySecurityPolicy enabled="true" />
  </runtime>
</configuration>