<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CY.IoTM.ADService.ADContextDAL">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADContextDAL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADContextDAL/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CY.IoTM.ADService.ADContextList">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADContextList">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADContextList/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CY.IoTM.ADService.ADItemDAL">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADItemDAL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADItemDAL/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CY.IoTM.ADService.ADPublishDAL">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADPublishDAL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADPublishDAL/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CY.IoTM.ADService.ADPublishUserDAL">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADPublishUserDAL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADPublishUserDAL/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="CY.IoTM.ADService.ADUserDAL">
                <endpoint address="" binding="basicHttpBinding" contract="CY.IoTM.ADService.IADUserDAL">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/CY.IoTM.ADService/ADUserDAL/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
