<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CY.IoTM.SystemInterface.Properties.Settings.IotMeterConnectionString"
            connectionString="Data Source=LAPTOP-Q6VK00MU\SQLEXPRESS;Initial Catalog=IotMeter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="CompanyId" value="zzcy@zzcy"/>
    <add key="Pwd" value="zzcy"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserManageWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4656/WebService/UserManageWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserManageWebServiceSoap"
                contract="UM.UserManageWebServiceSoap" name="UserManageWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>