<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CY.IoTM.Common.Business.Properties.Settings.IotMeterConnectionString"
            connectionString="Data Source=.;Initial Catalog=IotMeter;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.Business.Properties.Settings.IotMeterConnectionString1"
            connectionString="Data Source=.;Initial Catalog=IotMeter;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.Business.Properties.Settings.IotMeterConnectionString2"
            connectionString="Data Source=.;Initial Catalog=IotMeter;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.Business.Properties.Settings.IotMeterConnectionString3"
            connectionString="Data Source=.;Initial Catalog=IotMeter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.Business.Properties.Settings.IotMeterConnectionString4"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=IotMeter;User ID=sa;Connect Timeout=60;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>