<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CY.IoTM.OlbCommon.Properties.Settings.Olb_DataBaseConnectionString"
            connectionString="Data Source=.;Initial Catalog=Olb_DataBase;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.OlbCommon.Properties.Settings.Olb_DataBaseConnectionString1"
            connectionString="Data Source=192.168.1.22;Initial Catalog=Olb_DataBase;User ID=sa;Pooling=True;Min Pool Size=50;Max Pool Size=512;Connect Timeout=120000;Load Balance Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>