<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <connectionStrings>
    <!--<add name="IotmConnectionString" connectionString="Data Source=.;Initial Catalog=IotMeter;uid=sa;pwd=13526487308;Pooling=True;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=30;Connection Timeout=120000;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="IotmConnectionString" connectionString="Data Source=192.168.1.22;Initial Catalog=IotMeter;uid=sa;pwd=123456;Pooling=True;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=30;Connection Timeout=120000;" providerName="System.Data.SqlClient"/>-->

    <add name="IotmConnectionString" connectionString="Data Source=192.168.1.2\sql2012;Initial Catalog=IotMeter;uid=sa;pwd=000000;Pooling=True;MAX Pool Size=512;Min Pool Size=50;Connection Lifetime=30;Connection Timeout=120000;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="IotmConnectionString"/>

  <appSettings>
    <!--<add key="TCPServer" value="192.168.1.25"/>
    <add key="TCPServerPort" value="8802"/>-->

    <add key="defaultDatabase" value="IotmConnectionString"/>
    <add key="WCFService" value="localhost"/>
    <add key="WCFServicePort" value="9000"/>

    <!--MongoDb Config-->
    <add key="MongoConn" value="mongodb://127.0.0.1:27017"/>
    <add key="MongoDBName" value="MyIotMeter"/>

    <!--网络连接检查时间，单位：毫秒300000-->
    <add key="Link_Wait_Time" value="60000"/>
    <!--Memcached服务器地址，多个用逗号分隔-->
    <add key="MemcachedServerList" value="127.0.0.1:11211"/>
    <!--<add key="SystemPath" value="."/>-->

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="myBinding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/IoTM_DCSService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Service.Common.IDCSService" name="IoTM_DCSService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/TaskManageService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.ITaskManage" name="TaskManageService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/TopUpService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IMeterTopUp" name="TopUpService" kind="" endpointConfiguration=""/>
      <endpoint address="net.tcp://localhost:9000/MeterSubmitDataService" binding="netTcpBinding" bindingConfiguration="myBinding" contract="CY.IoTM.Common.Business.IReportData" name="MeterSubmitDataService" kind="" endpointConfiguration=""/>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
