<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CY.IoTM.Common.ADSystem.Properties.Settings.IotMeterConnectionString4"
            connectionString="Data Source=192.168.1.2\sql2012;Initial Catalog=IotMeter;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.ADSystem.Properties.Settings.IotMeterConnectionString"
            connectionString="Data Source=192.168.1.2\sql2012;Initial Catalog=IotMeter;Persist Security Info=True;User ID=sa;Password=000000"
            providerName="System.Data.SqlClient" />
        <add name="CY.IoTM.Common.ADSystem.Properties.Settings.IotMeterConnectionString1"
            connectionString="Data Source=.;Initial Catalog=IotMeter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>